<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Registration  Interests Form</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>

<body>

<div class="row">
    <div class="background-image"></div>
    <section class="section">
        <header>
            <h3>Welcome to Picturest</h3>
            <h4>Find new ideas to try</h4>
        </header>
        <main>
            <h5>Last step!   Tell us what you're interested in</h5>
            <form method="POST">
                {% csrf_token %}

    
                    <div class="list-group">
                        {% for key, value in interest_values.items %}
                              {% if value %}
                                <input type="checkbox" name={{ key }} value={{ key }} id={{key }} checked>
                              {% else %}
                                  <input type="checkbox" name={{ key }} value={{ key }} id={{key }}>
                              {% endif %}
                              <label class="list-group-item" name={{ key }} for={{ key }} style=" margin-bottom: 0.25em;"> {{ key }}</label>
                          {% endfor %}
                    </div>



                <div class="form-item">
                    <button id="submit" class="submit" type="submit">Create Account</button>
                </div>
            </form>

            <div>
                <p>Already have an account? <a href="{%url 'login' %}">Login</a></p>
            </div>

            <div class="bground">
            </div>
        </main>
        <footer>
            <div class="form-item">
                <span id="bussiness" class="bussiness">Create Bussiness Account</span>
            </div>
            </form>
        </footer>
        <i class="wave"></i>
    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="function.js"></script>
</body>


<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create the account">
</form>s