<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST">
        {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}

        {% csrf_token %}
        <label for="username">Username:</label>
        <br>
        <input type="text" name="username" value="" id="username">
        <br>
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" value="" id="password">
        <input type="hidden" name="next" value="{{ next|escape }}" />
        <br>
        <button type="submit">Sign in</button>
    </form>
</body>
</html>