



<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Title</title>
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="row">
            <div class="background-image"></div>
            <section class="section">
                <header>
                  <h3>Welcome to Picturest</h3>
                  <h4>Find new ideas to try</h4>
                </header>
                <main>
                    <form method="POST">
                        {% if form.errors %}
                        <p class="error">Sorry, that's not a valid username or password</p>
                        {% endif %}

                        {% csrf_token %}

                        <div class="form-item box-item">
                            <input type="email" name="email" id="email" placeholder="email" data-required>
                        </div>
                        <div class="form-item box-item">
                            <input type="password" name="password" id="password" placeholder="Password" data-required>
                        </div>
                        <div class="form-item box-item">
                            <button id="submit" class="submit" type="submit">LogIn</button>
                            <p>New to Picturest? <a href="{% url 'register'%}">Create an account</a></p>
                        </div>
                    </form>
                </main>
                <footer>
                <div class="form-item">
                  <span id="bussiness" class="bussiness">Create Bussiness Account</span>
                </div>
                </footer>
                <i class="wave"></i>
            </section>
        </div>
    </body>
</html>