{% extends 'Picturest/navbar_PicBase.html' %}
{% block title %}Home{% endblock %}
{% block content %}

 <div style="margin-left: 13vw; height: 2em; margin-top: 1em;">
     <div class="jumbotron" style="width: min-content; height: min-content; box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.4);">
        <h2> Editing profile </h2>
        </br></br>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Save</button>
        </form>
     </div>
 </div>

{% endblock %}