{% extends 'Picturest/navbar_PicBase.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<br><br><br>
<div align="left">
    <b>What am I supposed to be pinning on Picturest?</b>
    <p>There are many, many things you can pin on Picturest. But, before you start pinning, you should to be thinking
        about your strategy for visual content.

        Marketers should invest in visual content as part of their overall marketing strategy, but when it comes to
        Picturest, there are a few things that can help guide your decisions on what to pin.

        Beyond regular photos, marketers can post articles, experiment with infographics, and even pin videos. You've
        just got to make sure, though, you’ve got your Picturest board strategy down first.
    </p>
    <br><br><br>
    <b>So what's the difference between a pin and a repin ?</b>
    <p>Just like other social networks (especially Twitter), Picturest has some lingo of its own you'll want to
        understand as you navigate the site.

        A pin is essentially a bookmark, so when you find something on the web you want to keep or look at later, you
        can "pin" it to one of your boards.

        Meanwhile, a repin is when you take an image that's already on someone else's board and post it to one of your
        own. When you do this, notifications are sent to let the other person know you've repinned something of theirs.


    </p>
    <br><br><br>
    <b>Q</b>
    <p>A</p>
    <br><br><br>
    <b>Q</b>
    <p>A</p>
    <br><br><br>
    <b>Q</b>
    <p>A</p>
    <br><br><br>
    <b>Q</b>
    <p>A</p>
    <br><br><br>
    <b>Q</b>
    <p>A</p>
    <b>Q</b>
    <p>A</p>
    <br><br><br>
    <b>Q</b>
    <p>A</p>


    <br><br><br>
    <b>Common words & terms</b>
    <br><br><br>

    <p>As with all social media platforms, picturest has its own dictionary of words and terms that are dedicated solely
        to the platform.</p>

    <p>Of course, for beginners, these words can be confusing, and make the usage of picturest more difficult than it
        needs to be. Therefore, one of your highest priorities, when getting started, should be to learn the meaning of
        the most common picturest terms.
    </p>
    <br><br><br>
    <b>Pin</b>
    <p>A pin is a visual bookmark that redirects you to another website if you click on it, often the original
        source.</p>
    <b>RePin</b>
    <p>When you save a pin that has been posted by someone else, to your board, it is called repinning. Repinning is
        also known as re-pinning and saving. Re-Pinning is the new re-tweet. picturest may not be the newest social site
        but it is quickly taking over the old favorites and research has uncovered that picturest drives more traffic
        than Twitter.

    </p>
    <b>Board</b>
    <p>A board is a place where you save related pins. You can create how many boards as you want, and normally, you add
        pins that have something in common on the same boards and name them to separate them better. Boards are like
        folders that let you keep your pins organized on the platform.
    </p>
    <b>Follower</b>
    <p>When you find a pinner who shares appealing content, you can follow that user. Now, when that individual adds a
        new pin, it will appear on your homepage.</p>


</div>

{% endblock %}
