<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/interests_style.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Picturest - {%block title%}{% endblock %}</title>

</head>

<body>
    <header>
        <div>
            <nav class="navbar navbar-light bg-light fixed-top" style="box-shadow: 0 2px 5px -1px rgba(0,0,0,.7);">
              <a class="navbar-brand" href="{% url 'home_page' %}" title="Home" style="font-family: 'Righteous', cursive;">
                  <img src="../static/ImgStatic/PicTurest.png" width="30" height="30" class="d-inline-block align-top" alt="">
                  Picturest
              </a>

              <form class="form-inline" action="{% url 'search'%}" method="get" style="margin-top: 0.5em; margin-bottom: 0.5em;">
                  <input name="word_search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:430px !important;">
                  <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
              </form>

              <div>
                <a class="btn btn-outline-secondary" title="Home" href="{% url 'home_page' %}" style="border: none; border-radius: 16px; text-align: center;">
                    <strong>Home</strong>
                </a>

                <a class="btn btn-outline-secondary" title="Following" href="{% url 'following' %}" style="border: none; border-radius: 16px; text-align: center;">
                  <strong>Following</strong>
                </a>

                <div class="btn-group" role="group">

                    <a class="btn btn-outline-secondary" title="Profile" href="{% url 'profile' %}" style="border: none;">
                        <img src="../static/ImgStatic/PicProfile.png" width="30" height="30" class="d-inline-block align-top" alt="Profile">
                    </a>

                    <a class="btn btn-outline-secondary" title="Friends" href="{% url 'search_friends'%}" %} style="border: none;">
                        <img src="../static/ImgStatic/PicFriends.png" width="30" height="30" class="d-inline-block align-top"  alt="Friends">
                    </a>

                    <div class="btn-group" role="group" >
                        <button class="btn btn-outline-secondary dropdown-toggle" style="border: none;" title="Notifications" width="56" height="44" type="button" id="notisDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="..\static\ImgStatic\PicNotify.png" width="30" height="30" class="d-inline-block align-top" alt="Notifications">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" style="max-height:500px; width:250px; overflow-x: auto;" aria-labelledby="dropdownMenuButton" id="notis"></div>
                    </div>

                    <div class="btn-group" role="group">
                      <button class="btn btn-outline-secondary dropdown-toggle" style="border: none;" title="Options" width="56" height="44" type="button" id="logoutDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../static/ImgStatic/PicOptions.png" width="30" height="30" class="d-inline-block align-top" alt="Notifications">
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLogoutMenuButton">
                          <a class="dropdown-item" href="">Optimize your feed</a>
                          <a class="dropdown-item" href="{%url 'FAQs' %}">FAQs</a>
                          <a class="dropdown-item" href="{%url 'logout' %}">Log Out</a>
                      </div>
                    </div>

                </div>
              </div>


            </nav>
        </div>
    </header>

    <div class="container" style="margin-top: 80px;">

        {% block content %}
        {% endblock %}

    </div>

    <script>
        $(document).ready(function() {
            $('#notisDropdownMenuButton').on("click", function() {
                $('#notis').load('{%url 'notifications' %}');
            });
        });
    </script>

</body>
</html>
