{% extends 'Picturest/navbar_PicBase.html' %}
{% block title %}Optimize Feed{% endblock %}
{% block content %}


<div class="container">
    <div>
        <!-- aqui se veran los intereses junto a un boton para desactivarlos-->
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="custom-control custom-switch">
                    <label class="custom-control-label" for="interest">interest</label>
                    <input type="checkbox" class="custom-control-input" name="" id="interest">
                </div>
            </li>
        </ul>
    </div>
</div>



{% endblock %}