{% extends 'Picturest/navbar_PicBase.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

        <div class="container">
            <br>
            <br>
            <div class="row">

                <div class="col-md-6 details">
                    <blockquote>
                        <h1>Username</h1>
                        <small><cite title="Source Title">Location <i
                                class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        Biography
                    </p>
                    <a href="followers.html">
                        0 followers
                    </a>
                    <a href="followings.html">
                        0 following
                    </a>
                </div>
                <div class="col-md-6 img">
                    <img class="rounded-circle z-depth-2" alt="100x100" src="https://cdn4.iconfinder.com/data/icons/random-112/750/Random-21-128.png" data-holder-rendered="true">
                </div>
            </div>
             <br>
            <div class="row">
                <button type="button" class="btn btn-light">Boards</button>
                <button type="button" class="btn btn-light">Pins</button>
                <button type="button" class="btn btn-light">Tries</button>
                <button type="button" class="btn btn-light">Topics</button>
            </div>
        </div>



{% endblock %}
