
{% extends 'Picturest/navbar_PicBase.html' %}
{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}

        <div class="container">
            {% if you %}
                <a href="edit" class="button">Edit profile</a>
            {% else %}
                <form class="form-inline" method="POST">
                    {% csrf_token %}
                    {% if disabled %}
                        <button class="btn btn-danger" type="submit" disabled>Follow</button>
                    {% else %}
                        <button class="btn btn-danger" type="submit">Follow</button>
                    {% endif %}
                </form>
            {% endif %}
            <br>
            <div class="row">

                <div class="col-md-6 details">
                    <blockquote>
                        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                        <small><cite title="Source Title">{{ user.location }} <i
                                class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        {{ user.about }}
                    </p>
                    <a href="followers.html">
                        {{ followers }} followers
                    </a>
                    <a href="followings.html">
                        {{ followings }} following
                    </a>
                </div>
                <div class="col-md-6 img">
                    <!-- <img class="rounded-circle z-depth-2" alt="100x100" src="{{ request.user.photo.url }}" data-holder-rendered="true"> -->
                    <img class="rounded-circle z-depth-2" alt="100x100" src="https://cdn4.iconfinder.com/data/icons/random-112/750/Random-21-128.png" data-holder-rendered="true">
                </div>
            </div>
             <br>
            <div class="row">
                <button type="button" class="btn btn-light">Boards</button>
                <button type="button" class="btn btn-light">Pins</button>
                <button type="button" class="btn btn-light">Tries</button>
                <button type="button" class="btn btn-light">Topics</button>
            </div>
        </div>
    </div>

{% endblock %}
