{% extends 'Picturest/navbar_PicBase.html' %}
{% block title %}Search{% endblock %}
{% block content %}

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="nav-users" aria-selected="true">Users</a>
        <a class="nav-item nav-link" id="nav-pins-tab" data-toggle="tab" href="#pins" role="tab" aria-controls="nav-pins" aria-selected="false">Pins</a>
        <a class="nav-item nav-link" id="nav-boards-tab" data-toggle="tab" href="#boards" role="tab" aria-controls="nav-boards" aria-selected="false">Boards</a>
      </div>
    </nav>
    
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="nav-users-tab">
            <ul class="list-group">
                <br>
                {% for user in users_username %}
                    <div class="card-columns">
                        <a class="pin_ref" href="{% url 'profile' %}{{ user.username }}" >
                            <div class="card">
                                <img class="card-img-top" alt="100x100" src="{{ user.photo.url }}" data-holder-rendered="true">
                                <div class="card-body">
                                <h5 class="card-title">{{ user.username }}</h5>
                                <p class="card-text">{{ user.email }} </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="pins" role="tabpanel" aria-labelledby="nav-pins-tab">
            <ul class="list-group">
                <br>
                {% for pin in pins %}
                    <div class="card-columns">
                        <a class="pin_ref" href="pin/{{ pin.pin_id }}"> 
                            <div class="card">
                                <img class="card-img-top" alt="100x100" src="{{ pin.post.url }}" data-holder-rendered="true">
                                <div class="card-body">
                                <h5 class="card-title">{{ pin.title }}</h5>
                                <p class="card-text">{{ pin.description }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="boards" role="tabpanel" aria-labelledby="nav-boards-tab">...</div>
    </div>
{% endblock %}