{% extends 'Picturest/navbar_PicBase.html' %}
{% block title %}Search{% endblock %}
{% block content %}
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="nav-users" aria-selected="true">Users</a>
        <a class="nav-item nav-link" id="nav-pins-tab" data-toggle="tab" href="#pins" role="tab" aria-controls="nav-pins" aria-selected="false">Pins</a>
        <a class="nav-item nav-link" id="nav-boards-tab" data-toggle="tab" href="#boards" role="tab" aria-controls="nav-boards" aria-selected="false">Boards</a>
      </div>
    </nav>

    <script>
            fetch('https://api.datamuse.com/words?ml={{ search_word }}')
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    var top10 = data.sort(function(a, b) { return a.Variable1 < b.Variable1 ? 1 : -1; }).slice(0, 10);
                    console.log(top10)
                    for (word in top10){
                        console.log(top10[word].word)
                        var a = document.createElement('BUTTON');
                        var linkText = document.createTextNode(top10[word].word);
                        a.appendChild(linkText);
                        a.title = top10[word].word;
                        a.href = "/search/?word_search="+top10[word].word;
                        document.getElementById("similar_search").appendChild(a);
                    }
                })
                .catch(err => {
                    console.log(err)
                })

    </script>


    <div id="similar_search">

    </div>
    
    
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="nav-users-tab">
            <ul class="list-group col-3">
                <br>
                {% for user in users_username %}
                    <a class="btn btn-outline-primary list-group-item list-group-item-action" role="button" aria-disabled="true" href="{% url 'profile' user.username %}">
                        <img style="width:75px; height:75px;" src="{{ user.photo.url }}" data-holder-rendered="true">
                        {{ user.first_name }} {{ user.last_name }} {{ user.username }}
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="pins" role="tabpanel" aria-labelledby="nav-pins-tab">
            <ul class="list-group col-3">
                <br>
                {% for pin in pins %}
                    <a class="btn btn-outline-primary list-group-item list-group-item-action" role="button" aria-disabled="true" href="{% url 'pin' pin.pin_id %}">
                        <img style="width:150px; height:150px;" src="{{ pin.post.url }}" data-holder-rendered="true">
                        <br><br>
                        {{ pin.title }} ({{ pin.author.username }})
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="boards" role="tabpanel" aria-labelledby="nav-boards-tab">
            <ul class="list-group col-3">
                <br>
                {% for board in boards %}
                    <a class="btn btn-outline-primary list-group-item list-group-item-action" role="button" aria-disabled="true" href="{% url 'board' board.board_id %}">
<!--                        {% for pin in board.pins %}-->
<!--                            <img style="width:50px; height:50px;" src="{{ pin.post.url }}" data-holder-rendered="true">-->
<!--                        {% endfor %}-->
<!--                        <br>-->
                        {{ board.name}} ({{ board.author.username }})
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}